{% extends 'base.html.twig' %}

{% block title %}Mon espace{% endblock %}


{% block content %}

{% if is_granted('ROLE_ADMIN') %}
  <h1>Vous êtes Administrateur:</h1>
    <strong><a href="{{path('app_admin')}}" class="text-info">Accéder au BackOffice</a></strong> 
{% endif %}

	{% if app.user.partner  and app.user.structure == null  %}
		{% include "user_page/partner.html.twig" %}
	{% endif %}

	{% if app.user.partner == null  and app.user.structure  %}
		{% include 'user_page/structure.html.twig' %}
	{% endif %}

	{% if app.user.partner  and app.user.structure  %}
		{% include "user_page/partner.html.twig" %}
		{% include 'user_page/structure.html.twig' %}
	{% endif %}

{% endblock %}



	

	