{% extends 'base.html.twig' %}

{% block title %}Edit Partner{% endblock %}

{% block content %}
    <h1>Edit Partner</h1>
    <div class="w-full md:w-[684px] lg:w-[884px] mx-auto sm:pt-24 ">
		<div class="p-6 border border-gray-300 sm:rounded-md">
    {{ include('partner/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    </div>

    <a href="{{ path('app_admin') }}">back to list</a>

    
{% endblock %}
