{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block title %}Erreur
{% endblock %}


{% block content %}
	<body class="flex items-center h-full p-16 bg-gray-900 text-gray-100">
		<div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
			<div class="max-w-md text-center">
				<div>
					<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
					<lottie-player src="https://assets9.lottiefiles.com/packages/lf20_kcsr6fcp.json" background="transparent" speed="1" style="width: 500px; height: 500px;" loop autoplay></lottie-player>
				</div>
				<p class="text-2xl font-semibold md:text-3xl">Nos excuses nous n'arrivons pas à rejoindre cette page.</p>
				<p class="mt-4 mb-8 text-gray-400">Ne vous inquietez pas, vous pouvez trouver plein de merveilleuses choses sur votre page d'accueil.</p>
				<a rel="noopener noreferrer" href="{{ path('app_login')}}" class="px-8 py-3 font-semibold rounded bg-violet-400 text-gray-900">Retour à l'accueil</a>
			</div>
		</div>
	</body>

{% endblock %}
